<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.practice.mapper.boardMapper">
	
	<sql id="sql">
		SELECT	no
				,title
				,body
				,writer
				,wdate
				,hit
		FROM	board
	</sql>
	
	<select id="listBoard" resultType ="boardVO">
		<include refid="sql"/>
		WHERE 1=1
		
		<if test = "searchType != null">
			<if test="searchType eq 'writer'">
				AND writer like CONCAT('%',#{searchText},'%')
			</if>
			<if test="searchType eq 'title'">
				AND title like CONCAT('%',#{searchText},'%')
			</if>
		</if>
		limit #{start}, #{end};
	</select>
	
	<select id="countBoard" parameterType="searchVO" resultType="int">
		SELECT count(*)
		FROM	board
		WHERE 1 = 1
		<if test = "searchType eq 'title'">
			<if test = "searchText neq null">
				AND title like CONCAT('%',#{searchText},'%');
			</if>
		</if>
		<if test="searchType eq 'writer'">
			<if test="searchText neq null">
				AND writer like CONCAT('%',#{searchText},'%');
			</if>
		</if>
	</select>
	
	<select id="detailBoard" resultType="boardVO">
		<include refid="sql"/>
		WHERE no = #{no}
	</select>
	
	<insert id="writeBoard" parameterType = "boardVO">
	<![CDATA[	
		INSERT INTO board(
			 	 title
				,writer
				,body
				,wdate
				,hit
		)VALUES(
				 #{title}
				,#{writer}
				,#{body}
				,NOW()
				,0
		)
	]]>
		<!-- ?? -->
		<selectKey resultType="integer" keyProperty="no" order="AFTER">
			SELECT MAX(no) FROM board
		</selectKey>
	</insert>
	
	<update id="modifyBoard" parameterType="boardVO">
		UPDATE board SET
			 title = #{title}
		 	,writer = #{writer}
			,body = #{body}
		WHERE no = #{no}
	</update>
	
	<delete id="deleteBoard" parameterType="boardVO">
		DELETE FROM board 
		WHERE no = #{no}
	</delete>
	
	
	
</mapper>